body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

    .jumbotron p:last-child {
        margin-bottom: 0;
    }

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

div.card {
    display: inline-block;
    width: 33.333%;
    margin-bottom: 3px;
    margin-left: 3px;
    border: 0;
    max-height: 300px;
    max-width: 300px;
}


a.card > img {
    max-height: 300px;
    max-width: 300px;
    min-height: 50px;
    min-width: 50px;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

div.success-text {
    font-size: 18px;
}

div.centered {
    text-align: center;
}
