@page
@model CoreImageGallery.Pages.CalcPrimesModel
@{
    ViewData["Title"] = "LoadTest";
}

<h2>Load Test</h2>

<form method="POST">
    <div>Execution Time: <input asp-for="NumberOfSeconds" /></div>
    <input type="submit" value="Run Test" />
</form>

@if(Model.Summary != null)
{
    <div>@Model.Summary.TotalCalcs cycles in @Model.Summary.ElapsedSeconds seconds</div>

}

