@page
@model IndexModel
@{
    ViewData["Title"] = "Image Gallery";
}

<div class="centered">
    <h1 class="modal-header">Image Gallery</h1>
</div>

<div class="album text-muted">
    <div class="container">
        <div class="row">
            @foreach (var image in Model.Images)
            {
                <div class="card">
                    <a class="card" href="@image.ImagePath">
                        <img class="lazy" src="@image.ImagePath" />
                    </a>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js" integrity="sha256-sSF4G6GdnMRF5ZKZOLYGcPvU0BTvmPMFaQ6025ZB+Nk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/plugins/jquery.lazy.ajax.min.js" integrity="sha256-uQvfHo7VKZFNpuEmueDtC1/4i21aJiaG38ubIskMSF0=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
